<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Ejercicio 1</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="static/css/vendors.css" />
    <link rel="stylesheet" href="static/css/stylesheet.css" />
    <script src="static/js/bootstrap.bundle.js"></script>
    <script src="static/js/vue.global.prod.js"></script>
    <script src="static/js/axios.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-12 content">
          <div id="app">
            <div class="col-md-6 offset-md-3 content">
              <h2 class="text-center">Horas <i class="bi bi-hourglass"></i></h2>
              <div class="row mb-3">
                <label for="ejHorasHora" class="col-sm-2 col-form-label">Horas</label>
                <div class="col-sm-10">
                  <input type="number" class="form-control" v-model="horas" id="ejHorasHora" />
                </div>
              </div>
              <div class="row mb-3">
                <label for="ejHorasMinutos" class="col-sm-2 col-form-label">Minutos</label>
                <div class="col-sm-10">
                  <input type="number" class="form-control" v-model="minutos" id="ejHorasMinutos" />
                </div>
              </div>
              <div class="row mb-3">
                <label for="ejHorasSegundos" class="col-sm-2 col-form-label">Segundos</label>
                <div class="col-sm-10">
                  <input
                    type="number"
                    class="form-control"
                    v-model="segundos"
                    id="ejHorasSegundos"
                  />
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                  <button class="btn btn-primary" @click="calcular()">Calcular</button>
                </div>
              </div>
              <div class="alert alert-success text-center" v-if="mensaje">
                <h2>{{mensaje}}</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="assets/js/ej1.js"></script>
  </body>
</html>
