<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Ejercicio 2</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="static/css/vendors.css" />
    <link rel="stylesheet" href="static/css/stylesheet.css" />
    <script src="static/js/bootstrap.bundle.js"></script>
    <script src="static/js/vue.global.prod.js"></script>
    <script src="static/js/axios.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-12 content">
          <div id="app">
            <div id="carouselEj2" class="carousel slide">
              <div class="carousel-indicators">
                <template v-for='(slide, index) in slides'>
                  <button
                    type="button"
                    data-bs-target="#carouselEj2"
                    :data-bs-slide-to="index"
                    :class="index === 0 ? 'active': ''"
                  ></button>
                </template>
              </div>
              <div class="carousel-inner">
                <template v-for='(slide, index) in slides'>
                  <div class="carousel-item" :class="index === 0 ? 'active': ''">
                    <img :src="slide.image" class="d-block w-100"/>
                    <div class="carousel-caption d-none d-md-block">
                      <h5>{{slide.title}}</h5>
                      <p>{{slide.description}}</p>
                    </div>
                  </div>
                </template>
              </div>
              <button
                class="carousel-control-prev"
                type="button"
                data-bs-target="#carouselEj2"
                data-bs-slide="prev"
              >
                <span class="carousel-control-prev-icon"></span>
                <span class="visually-hidden">Anterior</span>
              </button>
              <button
                class="carousel-control-next"
                type="button"
                data-bs-target="#carouselEj2"
                data-bs-slide="next"
              >
                <span class="carousel-control-next-icon"></span>
                <span class="visually-hidden">Siguiente</span>
              </button>
            </div>
          </div>
          <!--/#app-->
        </div>
      </div>
    </div>
    <script src="assets/js/ej2.js"></script>
  </body>
</html>
