<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="static/css/stylesheet.css" />
    <script src="static/js/bootstrap.bundle.js"></script>
    <script src="static/js/vue.global.prod.js"></script>
  </head>
  <body>
    <div class="container">
      <div id="ejercicio-horas">
        <div class="row">
          <div class="col-md-6 offset-md-3 content">
            <h2 class="text-center">Horas <i class="bi bi-hourglass"></i></h2>
            <div class="row mb-3">
              <label for="ejHorasHora" class="col-sm-2 col-form-label">Horas</label>
              <div class="col-sm-10">
                <input type="number" class="form-control" v-model="horas" id="ejHorasHora" />
              </div>
            </div>
            <div class="row mb-3">
              <label for="ejHorasMinutos" class="col-sm-2 col-form-label">Minutos</label>
              <div class="col-sm-10">
                <input type="number" class="form-control" v-model="minutos" id="ejHorasMinutos" />
              </div>
            </div>
            <div class="row mb-3">
              <label for="ejHorasSegundos" class="col-sm-2 col-form-label">Segundos</label>
              <div class="col-sm-10">
                <input type="number" class="form-control" v-model="segundos" id="ejHorasSegundos" />
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-sm-2"></div>
              <div class="col-sm-10">
                <button class="btn btn-primary" @click="calcular()">Calcular</button>
              </div>
            </div>
            <div class="alert alert-success text-center" v-if="mensaje">
              <h2>{{mensaje}}</h2>
            </div>
          </div>
        </div>
      </div>

      <div id="ejercicio-lista-compras">
        <div class="row">
          <div class="col-md-6 offset-md-3 content text-center">
            <h2 class="my-4">Listado de compras <i class="bi bi-cart-check"></i></h2>
            <div class="row">
              <div class="col-7">
                <div class="form-floating mb-3">
                  <input
                    type="text"
                    class="form-control"
                    id="ejListaNombre"
                    ref="ejListaNombre"
                    placeholder="Nombre del producto"
                    v-model="itemInput"
                  />
                  <label for="ejListaNombre">Nombre del producto</label>
                </div>
              </div>
              <div class="col-5">
                <button class="btn btn-lg btn-primary" @click="adicionarItem()">
                  Adicionar producto
                </button>
              </div>
            </div>
            <ul class="list-group">
              <li class="list-group-item" v-for="item in items" :key="index">
                {{item}}
                <i class="bi bi-x-circle-fill" @click="eliminarItem(index)"></i>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div id="ejercicio-calculadora">
        <div class="row">
          <div class="col-md-8 offset-md-2 content text-center">
            <h2 class="my-4">Calculadora <i class="bi bi-calculator"></i></h2>
            <div class="row">
              <div class="col">
                <input type="number" class="form-control" placeholder="" id="ejCalculadoraInput1" />
              </div>
              <div class="col">
                <input type="number" class="form-control" placeholder="" id="ejCalculadoraInput2" />
              </div>
              <div class="col">
                <select class="form-select" id="ejCalculadoraOperador">
                  <option value="sumar">Sumar</option>
                  <option value="multiplicar">Multiplicar</option>
                </select>
              </div>
              <div class="col">
                <button class="btn btn-primary" id="ejCalculadoraCalcular">Calcular</button>
              </div>
              <div class="col">
                <input
                  type="number"
                  class="form-control"
                  placeholder="Resultado ..."
                  readonly
                  id="ejCalculadoraResultado"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.container -->
    <script src="assets/js/main.js"></script>
  </body>
</html>
